
 .moviebox{
    width:280px;
    height:350px;
    display:flex;
    flex-direction:column;
    margin:2% 4%;
    border:1px solid #F7F7F7;
    
  }

  .moviebox img {
      height: 85%;
  }
  .movieinfo{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    margin:2% 4%;
    font-weight: 700 ;
    color: rgb(233, 231, 231);
  }
  .Rating{
   margin-top: 5%;
    }
  .movieinfo button:hover{
  opacity:100%;
  }
  .moviebox:hover{ 
    box-shadow: 4px 6px 20px 4px grey;
  }
  .movieboxes{
    display: flex;
    margin:5% 0% 5% 2%;
    flex-wrap: wrap;
  }