
.App{
  background-color: black;
 
}
.addmovie{
  float: left;
  display: flex;
flex-wrap: wrap;
}
.MovieListAdd{

  margin:5% 0% 5% 2%;
 flex-wrap: wrap;
}

.movieboxes{
  display: flex;

  flex-wrap: wrap;
}